* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --background: #f2f3f5;
    --gray-line: #dcdde0;
    --text: #666666;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --red: #e83f5b;
    --green: #4cd62b;
    --blue: #5965e0;
    --principal: #8257e6;
    --grenn-princiapl: #04d361;
    --blue-dark: #4953b8;
    --blue-twitter: #2aa9e0;
    --black: black;
}

body {
    background:var(--white);
    color:var(--text);
}

body, input, textarea, button {
    font: 400 1rem 'Inter', sans-serif;
}

button {
    cursor: pointer;
}


a {
    color: inherit;
    text-decoration: none;
}

.navegacao-cabecalho {

    background: linear-gradient( rgba(0, 0, 0 , 0.5),  rgba(0, 0, 0 , 0.5) ),  url('./assests/img/img2.jpg') no-repeat center/cover; 
    height: 500px;
}

.menus-cabecalho a, .dropdown button {
    padding: 5px 15px 5px 15px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 12px;
    transition: .2s;
    border-radius: 25px;
}

.menus-cabecalho .dropdown a:hover {
    border-radius: 0px;
    border: none;
}

.menus-cabecalho a:hover {
    border: 1px solid var(--white);
    padding: 12px;
}

.menus-cabecalho .dropdown button:hover {
    border: 1px solid var(--white);
    color: var(--white);
    padding: 12px;
}

.menus-cabecalho div {
    display: inline-block;
}

.menus-cabecalho div a {
    color: var(--text);
}

/**************** Logo  **************/
.logo {
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 5px;

    color: var(--white);
}

/*** Texto Header ***/

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 350px;
}

button.button-inscreverse, .button-cancel {
    height: 3rem;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    color: var(--white);

    font-size: 1rem;
    font-weight: 600;

    transition: background-color 0.2s;

    background-color: var(--grenn-princiapl);
}

.button-cancel {
    background-color: var(--red);
    cursor: pointer;
}

button.button-inscreverse:hover {
    background-color: #04B855;
}

.descricao  h1 {

    font-family: Rajdhani;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 5px;

    color: var(--white);

}

.descricao  p {


    font-family: Rajdhani;
    letter-spacing: 5px;

    color: var(--white);

}

/* Modal ============*/
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items:  center;
    justify-content:  center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-1 {
    background: #f0f2f5;
    padding:  2.4rem;
    width: 100%;
    max-width: 75%;
    
}

.modal-image {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 25px;
}

/* Form ============*/
#form {
    max-width: 500px;

}

#form h2 {
    margin-top: 0;
}

#form form input {
    border: none;
    border-radius: 0.2rem;

    padding: 0.8rem;

    width: 100%;
}

#form .button-cancel, #form .button-inscreverse{
    width: 140px !important;

} 

#form .button-cancel {
    margin-right: 10px;
    transition: .3s;
}

#form .button-cancel:hover {
    color: white;
    background-color: #B53147;
}

#form h6 {
    color: var(--text);
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.input-group-1 {
    margin-top: 0.8rem;
}

.input-group-1 small {
    opacity: 0.4;
}

.input-group-1.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/************************ Seção Sobre ***********************/

.imagem-sobre {
    left: -120%;
    opacity: 0.3;
    transition: opacity .2s;
}

.imagem-sobre.show {
    opacity: 1;
}

.informacoes-sobre p {
    right: -130%;
    position: relative;
    opacity: 0.3;
    transition: opacity .2s;
}

.informacoes-sobre p.show {
    opacity: 1;
}

.welcome {
    font-family: Rajdhani;
    color: var(--principal);
}

.descricao-sobre {
    color: var(--text);
    letter-spacing: 2px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
}

/************************ Section Services  **********************/

#servicos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-content: center;
}

.cards-services {
    background-color: var(--grenn-princiapl);
    border-radius: 15px;
    padding: 10px;
}

.cards-services h1 {
    color: var(--white);
    font-family: Rajdhani;

}

.cards-services p {
    color: var(--white);
    font-family: Rajdhani;
    text-align: justify;

}

#servicos img {
    height: 75px;
    width: 75px;
}


.item-1, .item-4 {
    left: -140%;
    opacity: 0.3;
    transition: opacity .3s;
    position: relative;
}

.item-2 {
    left: -280%;
    position: relative;
    opacity: 0.3;
    transition: opacity .3s;
}

.item-3, .item-6 {
    right: -140%;
    opacity: 0.3;
    transition: opacity .3s;
    position: relative;
}

.item-5 {
    right: -280%;
    position: relative;
    opacity: 0.3;
    transition: opacity .3s;
}

.item-1.show, .item-5.show, .item-2.show, .item-3.show, .item-4.show, .item-6.show {
    opacity: 1;
}

/************************ Planos *****************************/
/* Todo conteudo do card */
.plano-completo {
    width: 350px;
}

/* Pai de todo conteudo */
.card-plano {
    height: 500px;
    width: 320px;
    border-radius: 15px;
    padding: 30px;
    flex-direction: column;
}

/* Conteudo centralizado */
.card-plano .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Conteudo centralizado e com coluna */
.card-plano .conteudo .conteudo-coluna {
    flex-direction: column;
    margin-bottom: 70px;
}

/* Padwan */
.card-plano.padawan {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), center/cover no-repeat url('./assests/img/padawan.jpg');
}

.card-plano.padawan h3 {
    border: 3px solid var(--blue-twitter);
}

/* Jedi */
.card-plano.jedi {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), center/cover no-repeat url('./assests/img/jedi.jpg');
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 50%), 0 9px 46px 8px rgb(0 0 0 / 12%);
    height: 550px;
}

.card-plano.jedi h3 {
    border: 3px solid var(--green);
}

/* Soith */
.card-plano.sith {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), center/cover no-repeat url('./assests/img/sith.jpg');
}

.card-plano.sith h3 {
    border: 3px solid var(--red);
}

.card-plano.sith .conteudo {
    align-items: flex-end;
    padding-bottom: 30px;
}

p.text-price {
    color: var(--green);
    font-family:  Rajdhani, sans-serif;
    font-weight: normal;
}

/* Icones x e v */
.card-plano .conteudo .conteudo-coluna i.fa-check {
    margin-right: 10px;
    color: var(--green);
}

.card-plano .conteudo .conteudo-coluna i.fa-times {
    margin-right: 10px;
    color: var(--red);
}

/* Botão de contratar */
.botao-contratar {
    background-color: #04B855;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: background-color .3s;
}

.botao-contratar:hover {
    color: white;
    background-color: #04B855;
    background-color: var(--green);

}

/************************ Etapa ******************************/
.etapa-conteudo {
    flex-direction: column;
    text-align: center;
}

.etapa-conteudo p {
    color: var(--principal);
    font-family: Rajdhani;
}


/* Equipe */

.equipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    

}

.person {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.person img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.title-equipe {
    font-family:  Rajdhani, sans-serif;
    text-align: center;
}

.person p {
    text-align: justify;
    text-justify: inter-word;
    
}

.title-equipe h6 {
    color: var(--principal);
}

.title-equipe h1 {
    color: var(--black);
}

.equipe p  a i {
    color:  #0e76a8;
    font-size: 20px;
}


/************************ contato  **********************/

#contato {
    flex-direction: column;
    border-top: 1px solid var(--principal);
}

#form-contact {
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
}

#form-contact input, textarea {
    border: 0;
    border-radius: 10px;

    padding: 10px;
    margin-top: 10px;
   
}

#form-contact input:focus:required:invalid {border: 2px solid var(--red); outline: none;}
#form-contact input:required:valid { border: 2px solid var(--grenn-princiapl); outline: none; }
#form input:focus:required:invalid {border: 2px solid var(--red); outline: none;}
#form input:required:valid { border: 2px solid var(--grenn-princiapl); outline: none; }

#form-contact input:focus {
    color: var(--principal);
}

.title-contato {
    text-align: center;
}

.title-contato h1 {
    margin-top: 15px;
}

#form-contact  button {
    margin-top: 10px;

    height: 55px;
    
    border-radius: 10px;
    border: 0;

    background-color: var(--grenn-princiapl);
    color: var(--white);

    font-family: Rajdhani, sans-serif;
    font-size: 25px;

    transition: opacity .3s;
}

#form-contact  button:hover {
    opacity: 0.8;
}

/************************ Footer  **********************/

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-footer {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    color: var(--white);
}

.fundo {
    background-color: var(--principal);
}

.sobre p {
    text-align: justify;
    text-justify: inter-word;
    font-family: Rajdhani;
}

.sobre ul li a {
    font-size: 20px;
    transition: color .3s;
}

.sobre a:hover {
    color: var(--green);
}

.contact-us ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-us ul i {
    margin-right: 10px;
    margin-bottom: 15px;
}

.contact-us h5 {
    font-family: Rajdhani;
    padding-top: 10px;
    font-weight: bold;
}

.sing h5 {
    font-family: Rajdhani;
    padding-top: 10px;
    font-weight: bold;
}

.sing form input {
    border: 0;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.sing form button {
    height: 55px;
    width: 150px;

    margin-top: 10px;
    margin-bottom: 10px;
    
    border-radius: 10px;
    border: 0;

    background-color: var(--grenn-princiapl);
    color: var(--white);

    font-family: Rajdhani, sans-serif;
    font-size: 25px;

    transition: opacity .3s;
}

.sing form button:hover {
    opacity: 0.8;
}

.sing form input:focus:required:invalid {border: 2px solid var(--red); outline: none;}
.sing form input:required:valid { border: 2px solid var(--grenn-princiapl); outline: none; }

#botao-flutuante {
    display: inline-block;
    background-color: var(--green);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

#botao-flutuante:hover {
    cursor: pointer;
    background-color: var(--grenn-princiapl);
}

#botao-flutuante:active {
    background-color: var(--grenn-princiapl);
}

#botao-flutuante.show {
    opacity: 1;
    visibility: visible;
}

/************************ @MediaQuerys  **********************/

@media ( max-width: 500px  ) {
    .logo-mobile {
        text-align: center;
    }

    .descricao {
        width: 100%;
    }

    .descricao h1 {
        font-size: 50px !important;
    }

    .descricao p {
        text-align: center;
    }

    .informacoes-sobre {
        padding: 0px 20px 0px 30px;
    }

    #servicos {
        display: grid;
        grid-template-columns: 1fr;
    }

    .equipe {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #content-footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    #form-contact {
        display: grid;
        grid-template-columns: 330px;
        justify-content: center;
    }

    .card-plano {
        margin-bottom: 20px;
        width: 100%;
    }

    .plano-completo {
        width: 100%;
    }

    .modal-image {
        display: grid;
        grid-template-columns:  1fr;
        gap: 25px;
    }

    #form .button-cancel, #form .button-inscreverse{
        width: 90px !important;
    
    } 
}



/********************************* AQUI SO ALTERACOES PARA O BOOTSTRAP *******************************/
.dropdown-item:hover {
    background-color: var(--white) !important;
}

.btn:focus {
    box-shadow: none !important;
}